<%= form_for(@log) do |f| %>
  <% if @log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% @log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h3>Crew On Board</h3>

    <table class="table">
    <tr>
      <th>Job</th>
      <th>Name</th>
      <th>Working</th>
      <th>Off</th>
    </tr>
    <% @crew.each do |crew| %>
      <tr>
        <td> <%= crew.job_title %></td>
        <td><%= crew.name %>  </td>
        <%= f.fields_for :status do |status| %>
          <td><%= status.radio_button :"#{crew.id}", "working" %></td>
          <td><%= status.radio_button :"#{crew.id}", "off" %></td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <h3>Open Items</h3>
   <table class="table">
    <tr>
      <th>Task</th>
      <th>Completion Date</th>
      <th>Responsibility</th>
      <th>Notes</th>
      <th>Daily Notes</th>
      <th>Completed?</th>
    </tr>
    <% @open_items.each do |open_item| %>
      <tr>
      <%= f.fields_for :open_items do |oi| %>
        <td> <%= open_item.task %></td>
        <td><%= open_item.date %>  </td>
        <% if open_item.user_id.present? %>
          <td><%= open_item.user.name %>  </td>
        <% else %>
          <td><%= oi.collection_select :user_id, @crew, :id, :name, include_blank: true  %></td>
        <% end %>
        <td><%= open_item.notes %>  </td>
        <td>  <%= oi.text_field :notes %></td>
        <td><%= oi.check_box :completed %></td>

      <% end %>
      </tr>
    <% end %>
  </table>
  <h3>Expenses</h3>
    <%= render :partial => '/expenses/form', :expense => @log.expenses.build %>
  <h3>Notes</h3>
    <%= f.text_area :notes %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
