<%= form_for(@daily_activity) do |f| %>
  <% if @daily_activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daily_activity.errors.count, "error") %> prohibited this daily_activity from being saved:</h2>

      <ul>
      <% @daily_activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.collection_select :user_id, @crew, :id, :name, include_blank: true  %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
